.reviewContainer{
  background-color: #83751a;
  align-items: center;
  margin-top:15px;
  height:400px;
  text-align: center;
}
.carousel {
  display: flex;
  /* border: 1px solid red; */
  width: 80%;
  margin: auto;
  height: 200px;
}
.reviewCard {
    margin-top:20px;
  width: 33%;
  gap: 2%;
  justify-content: center;
  color: white;
  font-size: 19px;
  font-weight: 400;
  font-family: Lato,sans-serif;
}

.reviewHeading{
    padding-top: 40px;
    color: white;
}
.btn101{
  background-color: #ffce61;
  color: black;
  padding: 7px 5px 7px 5px;
  font-size:large;
  font-weight: 400;
  font-family: lato,sans-serif;

}
.btn101:hover{
  background-color: white;
}
